<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/public/css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
</head>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center" style="width:110px;">
  <!-- Avatar image in top left corner -->
  <i class="fa-solid fa-share-nodes" style="display:block; color:white; height: 40px; width: 40px;"></i>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>PHOTOS</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <!-------------------------------------------------------------------------- HB -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">We</span>Devz</h1>
    <h10>Explore Network</h10>
    <i class="fa-regular fa-square-share-nodes fa-10px" style="color:#68447A; width:100px; height:100px"></i>
  </header>
    <!-------------------------------------------------------------------------- /HB -->
<!-- CAROUSEL SECTION -->
  <div class="media-scroller media-scroller--with-groups snaps-inline">
    {{#each usergallery as |user|}}
    <div class="media-group">
        <!-- pic 1 -->
        <div class="profile-card">
            <img src="/public/images/p1-modified.png" `${{{userpic}}}` alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>{{user.first_name}} {{user.last_name}}</b></p>
              <p style="font-style: italic">{{user.city}}</p>
              <p style="font-style: italic">{{user.employer}}</p>
              {{#each user.technology as |tech|}}
              <ul style="list-style: none">
                  <li >{{tech.name}}</li>
              </ul>
              <p>{{user.github}}</p>
            </div>
        </div>
        <!-- pic 2 -->
        <div class="profile-card" >
            <img src="/public/images/p4-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Santino Russo</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Sago Mini</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: s.russo@github.com</p>
            </div>
        </div>
        <!-- pic 3 -->
        <div class="profile-card">
            <img src="/public/images/p3-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Matt Galanis</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Ubisoft</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: mattga@github.com</p>
            </div>
          </div>
    </div>
    <div class="media-group">
        <div class="profile-card">
            <img src="/public/images/p20-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Lauren Cade</b></p>
              <p style="font-style: italic">Hamilton</p>
              <p style="font-style: italic">Google</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: lcaddel@github.com</p>
            </div>
        </div>
        <!-- pic 2 -->
        <div class="profile-card" >
            <img src="/public/images/p5-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Santino Russo</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Sago Mini</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: s.russo@github.com</p>
            </div>
        </div>
        <!-- pic 3 -->
        <div class="profile-card">
            <img src="/public/images/p6-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Matt Galanis</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Ubisoft</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: mattga@github.com</p>
            </div>
          </div>
    </div>
    <div class="media-group">
        <div class="profile-card">
            <img src="/public/images/p7-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Lauren Cade</b></p>
              <p style="font-style: italic">Hamilton</p>
              <p style="font-style: italic">Google</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: lcaddel@github.com</p>
            </div>
        </div>
        <!-- pic 2 -->
        <div class="profile-card" >
            <img src="/public/images/p8-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Santino Russo</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Sago Mini</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: s.russo@github.com</p>
            </div>
        </div>
        <!-- pic 3 -->
        <div class="profile-card">
            <img src="/public/images/p9-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Matt Galanis</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Ubisoft</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: mattga@github.com</p>
            </div>
          </div>
    </div>
    <div class="media-group">
        <div class="profile-card">
            <img src="/public/images/p10-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Lauren Cade</b></p>
              <p style="font-style: italic">Hamilton</p>
              <p style="font-style: italic">Google</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: lcaddel@github.com</p>
            </div>
        </div>
        <!-- pic 2 -->
        <div class="profile-card">
            <img src="/public/images/p11-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Santino Russo</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Sago Mini</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: s.russo@github.com</p>
            </div>
        </div>
        <!-- pic 3 -->
        <div class="profile-card">
            <img src="/public/images/p12-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Matt Galanis</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Ubisoft</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: mattga@github.com</p>
            </div>
          </div>
    </div>
    <div class="media-group">
        <div class="profile-card">
            <img src="/public/images/p13-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Lauren Cade</b></p>
              <p style="font-style: italic">Hamilton</p>
              <p style="font-style: italic">Google</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: lcaddel@github.com</p>
            </div>
        </div>
        <!-- pic 2 -->
        <div class="profile-card">
            <img src="/public/images/p14-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Santino Russo</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Sago Mini</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: s.russo@github.com</p>
            </div>
        </div>
        <!-- pic 3 -->
        <div class="profile-card">
            <img src="/public/images/p15-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Matt Galanis</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Ubisoft</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: mattga@github.com</p>
            </div>
          </div>
    </div>
    <div class="media-group">
        <div class="profile-card">
            <img src="/public/images/p16-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Lauren Cade</b></p>
              <p style="font-style: italic">Hamilton</p>
              <p style="font-style: italic">Google</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: lcaddel@github.com</p>
            </div>
        </div>
        <!-- pic 2 -->
        <div class="profile-card">
            <img src="/public/images/p17-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Santino Russo</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Sago Mini</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: s.russo@github.com</p>
            </div>
        </div>
        <!-- pic 3 -->
        <div class="profile-card">
            <img src="/public/images/p18-modified.png" alt="Norway" class="w3-hover-opacity">
            <div class="w3-container w3-white" style="border-radius: 30px;">
              <p style="font-size:24px"><b>Matt Galanis</b></p>
              <p style="font-style: italic">Toronto</p>
              <p style="font-style: italic">Ubisoft</p>
              <ul style="list-style: none">
                  <li >REACT</li>
                  <li >MongoDB</li>
                  <li >Express</li>
              </ul>
              <p>Github Link: mattga@github.com</p>
            </div>
          </div>
    </div>
  </div>

  <h10>Explore Projects</h10>

  <!-- Project Media Scroller -->
  <div class="media-scroller media-scroller--with-groups snaps-inline project-scroll">
    <!-- PROJECT 1 -->
    {{#each projectgallery as |project|}}
    <div class="media-group">
        <div class="profile-card">
        <!-- PROJECT TEXT BOX -->
            <div class="upper-card w3-container w3-white" style="">
                <p><b>Project: {{project.name}}</b></p>
                <p>Description: {{project.description}} </p>
                {{#each project.technology as |tech|}}
                <p>Technologies:</p>
                <li>{{tech.name}}</li>
                <p>{{project.link}}</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="profile-project-bcard w3-container" style="display:inline;">
                <!-- IMAGE HALF ROW -->
                <img src="/public/images/p2-modified.png" `${user.url}` alt="Norway" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div class="name-card" style="display:inline-block;">
                    <p style="display:block;"><b>{{project.first_name}} {{project.last_name}}</b></p>
                    <p style="display:block;"><b>{{project.user.city}}</b></p>
                </div>
                <!-- Technologies  -->
                <div class="tech-card w3-container w3-white">
                    <p> Technologies Specialization</p>
                    {{#each user.technology as |tech|}}
                    <ul>
                        <li>{{user.tech.name}}</li>
                    </ul>
                </div>
            
            <!-- END OF BOTTOM HALF CARD DIV -->
            </div> 
        </div>
    <!-- END OF PROJECT 2 -->
        <div class="profile-card">
            <div class="upper-card w3-container w3-white">
                <p><b>Project: Weather App</b></p>
                <p>Description: App that retreives weather data from a 3rd party API and displays forecast for users. Aesthetic Desisgn</p>
                <p>Technologies: HTML, CSS, 3rd Party APIs</p>
                <p>Github Link: leena@github.com</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="profile-project-bcard w3-container" style="display:inline;">
                <!-- IMAGE HALF ROW -->
                <img src="/public/images/p5-modified.png" alt="Norway" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div class="name-card"style="display:inline-block;">
                    <p style="display:block;"><b>Leena M.</b></p>
                    <p style="display:block;"><b>Waterloo</b></p>
                </div>
                <!-- Technologies  -->
                <div class="tech-card w3-container w3-white">
                    <p> Technologies Specialization</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="media-group">
        <div class="profile-card">
        <!-- PROJECT TEXT BOX -->
            <div class="upper-card w3-container w3-white" >
                <p><b>Project: Day Planner</b></p>
                <p>Description: App that retreives what time of day, displays in agenda and allows user to write in scheduled meeting and events. </p>
                <p>Technologies: HTML, CSS, WEB APIs</p>
                <p>Github Link: asdf@github.com</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="profile-project-bcard w3-container" style="display:inline;">
                <!-- IMAGE HALF ROW -->
                <img src="/public/images/p16-modified.png" alt="Norway" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div class="name-card" style="display:inline-block;">
                    <p style="display:block;"><b>Christine P.</b></p>
                    <p style="display:block;"><b>Toronto</b></p>
                </div>
                <!-- Technologies  -->
                <div class="tech-card w3-container w3-white">
                    <p> Technologies Specialization</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            
            <!-- END OF BOTTOM HALF CARD DIV -->
            </div> 
        </div>
    <!-- END OF PROJECT 2 -->
        <div class="profile-card">
            <div class="upper-card w3-container w3-white" style="">
                <p><b>Project: Weather App</b></p>
                <p>Description: App that retreives weather data from a 3rd party API and displays forecast for users. Aesthetic Desisgn</p>
                <p>Technologies: HTML, CSS, 3rd Party APIs</p>
                <p>Github Link: leena@github.com</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="profile-project-bcard w3-container" style="display:inline;">
                <!-- IMAGE HALF ROW -->
                <img src="/public/images/p17-modified.png" alt="Norway" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div class="name-card" style="display:inline-block;">
                    <p style="display:block;"><b>Leena M.</b></p>
                    <p style="display:block;"><b>Waterloo</b></p>
                </div>
                <!-- Technologies  -->
                <div class="tech-card w3-container w3-white" style="">
                    <p> Technologies Specialization</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="media-group">
        <div class="profile-card">
        <!-- PROJECT TEXT BOX -->
            <div class="upper-card w3-container w3-white">
                <p><b>Project: Day Planner</b></p>
                <p>Description: App that retreives what time of day, displays in agenda and allows user to write in scheduled meeting and events. </p>
                <p>Technologies: HTML, CSS, WEB APIs</p>
                <p>Github Link: asdf@github.com</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="profile-project-bcard w3-container" style="display:inline;">
                <!-- IMAGE HALF ROW -->
                <img src="/public/images/p11-modified.png" alt="Norway" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div class= "name-card" style="display:inline-block;">
                    <p style="display:block"><b>Christine P.</b></p>
                    <p style="display:block"><b>Toronto</b></p>
                </div>
                <!-- Technologies  -->
                <div class="tech-card w3-container w3-white">
                    <p> Technologies Specialization</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            
            <!-- END OF BOTTOM HALF CARD DIV -->
            </div> 
        </div>
    <!-- END OF PROJECT 2 -->
        <div class="profile-card">
            <div class="upper-card w3-container w3-white">
                <p><b>Project: Weather App</b></p>
                <p>Description: App that retreives weather data from a 3rd party API and displays forecast for users. Aesthetic Desisgn</p>
                <p>Technologies: HTML, CSS, 3rd Party APIs</p>
                <p>Github Link: leena@github.com</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="profile-project-bcard w3-container" style="display:inline;">
                <!-- IMAGE HALF ROW -->
                <img src="/public/images/p12-modified.png" alt="Norway" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div class="name-card"style="display:inline-block;">
                    <p style="display:block;"><b>Leena M.</b></p>
                    <p style="display:block;"><b>Waterloo</b></p>
                </div>
                <!-- Technologies  -->
                <div class="tech-card w3-container w3-white">
                    <p> Technologies Specialization</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="media-group">
        <div class="profile-card">
        <!-- PROJECT TEXT BOX -->
            <div class="upper-card w3-container w3-white">
                <p><b>Project: Day Planner</b></p>
                <p>Description: App that retreives what time of day, displays in agenda and allows user to write in scheduled meeting and events. </p>
                <p>Technologies: HTML, CSS, WEB APIs</p>
                <p>Github Link: asdf@github.com</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="profile-project-bcard w3-container" style="display:inline;">
                <!-- IMAGE HALF ROW -->
                <img src="/public/images/p2-modified.png" alt="Norway" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div class="name-card"style="display:inline-block;">
                    <p style="display:block;"><b>Christine P.</b></p>
                    <p style="display:block;"><b>Toronto</b></p>
                </div>
                <!-- Technologies  -->
                <div class="tech-card w3-container w3-white">
                    <p> Technologies Specialization</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            
            <!-- END OF BOTTOM HALF CARD DIV -->
            </div> 
        </div>
    <!-- END OF PROJECT 2 -->
        <div class="profile-card">
            <div class="upper-card w3-container w3-white">
                <p><b>Project: Weather App</b></p>
                <p>Description: App that retreives weather data from a 3rd party API and displays forecast for users. Aesthetic Desisgn</p>
                <p>Technologies: HTML, CSS, 3rd Party APIs</p>
                <p>Github Link: leena@github.com</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="profile-project-bcard w3-container" style="display:inline;">
                <!-- IMAGE HALF ROW -->
                <img src="/public/images/p13-modified.png" alt="Norway" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div class="name-card"style="display:inline-block;">
                    <p style="display:block;"><b>Leena M.</b></p>
                    <p style="display:block;"><b>Waterloo</b></p>
                </div>
                <!-- Technologies  -->
                <div class="tech-card w3-container w3-white">
                    <p> Technologies Specialization</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="media-group">
        <div class="profile-card">
        <!-- PROJECT TEXT BOX -->
            <div class="upper-card w3-container w3-white" style="">
                <p><b>Project: Day Planner</b></p>
                <p>Description: App that retreives what time of day, displays in agenda and allows user to write in scheduled meeting and events. </p>
                <p>Technologies: HTML, CSS, WEB APIs</p>
                <p>Github Link: asdf@github.com</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="profile-project-bcard w3-container" style="display:inline;">
                <!-- IMAGE HALF ROW -->
                <img src="/public/images/p18-modified.png" alt="Norway" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div class="name-card" style="display:inline-block;">
                    <p style="display:block;"><b>Christine P.</b></p>
                    <p style="display:block;"><b>Toronto</b></p>
                </div>
                <!-- Technologies  -->
                <div class="tech-card w3-container w3-white" style="">
                    <p> Technologies Specialization</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            
            <!-- END OF BOTTOM HALF CARD DIV -->
            </div> 
        </div>
    <!-- END OF PROJECT 2 -->
        <div class="profile-card">
            <div class="upper-card w3-container w3-white">
                <p><b>Project: Weather App</b></p>
                <p>Description: App that retreives weather data from a 3rd party API and displays forecast for users. Aesthetic Desisgn</p>
                <p>Technologies: HTML, CSS, 3rd Party APIs</p>
                <p>Github Link: leena@github.com</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="profile-project-bcard w3-container" style="display:inline;">
                <!-- IMAGE HALF ROW -->
                <img src="/public/images/p20-modified.png" alt="Norway" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div class="name-card"style="display:inline-block;">
                    <p style="display:block;"><b>Leena M.</b></p>
                    <p style="display:block;"><b>Waterloo</b></p>
                </div>
                <!-- Technologies  -->
                <div class="tech-card w3-container w3-white">
                    <p> Technologies Specialization</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>   
    <!-- END OF PROJECT SCROLLER -->
</div>
<!-- END OF BOTH PROJECT SCROLLER -->
</div>
<div class="page-break"></div>
<footer></footer>