{{!-- 
<nav class="" style="width:110px;">

  <i class="fa-solid fa-share-nodes" style="display:block; color:white; height: 40px; width: 40px;"></i>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>PHOTOS</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav> --}}



    <!-- END OF PROJECT SCROLLER -->

    <div class="w3-row-padding" style="display:flex; justify-content: center; padding-top: 30px; align-items: center;">
        <button class="w3-button" style="background-color: white; color: black; height:40px" onclick="plusDivs(-1)">&#10094;</button>
        <!--CARD START -->
        {{#each projectgallery as |project|}}
        <div class=" w3-container w3-margin-bottom" style="width:530px; height: 696px; border: rgb(162, 192, 212) 10px solid; border-radius: 30px; margin-left: 15px;">
            <!-- PROJECT TEXT BOX -->
            <div class="w3-container w3-white" style="margin-top: 15px; border-radius: 30px;">
                <p><b>{{project.name}}</b></p>
                <p>{{project.description}}</p>
                <p>{{project.project_technology}}</p>

                <p>{{project.link}}</p>
            </div>
            <!-- BOTTOM HALF CARD DIV -->
            <div class="w3-container" style="display:inline; justify-content: baseline;">
                <!-- IMAGE HALF ROW -->
                <img src={{prject.user_pic}} alt="Norway" style="width:50%; padding-top: 15px;" class="w3-hover-opacity">
                <!-- NAME LOCATION FIELDS -->
                <div style="display:inline-block; padding-left: 5px">
                    <p style="display:block; padding-top: 15px"><b>{{project.first_name}} {{project.last_name}}</b></p>
                    <p style="display:block; font-style: italic"><b>{{project.location}}</b></p>
                </div>
                <!-- Technologies  -->
                <div class="w3-container w3-white" style="padding-top: 5px; border-radius: 30px;">
                    <p> Technologies Specialization</p>
                    <p>{{project.user_technology}}</p>

                </div>
            
            <!-- END OF BOTTOM HALF CARD DIV -->
            </div> 
            {{/each}}
        </div>
        