
<div class="content"id="">


  <!-- Header/Home -->
  <!-------------------------------------------------------------------------- HB -->
  <header class=""style="margin: auto; display: flex-directon: column; background-color: #34223c; justify-content: center;" id="">
    <h1 style = "justify-content: center"class="w3-jumbo"><span class="w3-hide-small">We</span>Devz</h1>
    <h10>Explore Network</h10>
    {{!-- <i class="fa-regular fa-square-share-nodes fa-10px" style="color:#68447A; width:100px; height:100px"></i> --}}
  </header>
    <!-------------------------------------------------------------------------- /HB -->
<!-- CAROUSEL SECTION -->
  <div class="media-scroller snaps-inline" id="main">
    {{#each usergallery as |user|}}
        <!-- pic 1 -->
        <div class="profile-card" style="display:flexbox">
            <img src="https://res.cloudinary.com/dfh56dqku/image/upload/v1675255966/p3-modified_uu05ep.png" alt="Norway" class="w3-hover-opacity">        
            <div class="profile-bottom-card">
              <p style="font-size:24px"><b>{{user.first_name}} {{user.last_name}}</b></p>
              <p style="display:block; font-style: italic">City: {{user.location}}</p>
              <p style="display:block; font-style: italic">Employer: {{user.employer}}</p>
              <ul style="display:inline; list-style: none">
                  <span style="">Expert in: {{user.user_technology}}</span>
              </ul>
              <p>{{user.github}}</p>
            </div>
        </div>
        
    
      
    {{/each}}
    </div> 


    <!-- END OF PROJECT SCROLLER -->
</div>
