


<div class="sidebar navColor">
  <a href="#home" style="font-size: 18px;"><i class="fa fa-home" style="font-size: 46px;"></i><br>HOME</a>
  <a class="active" style="font-size: 18px;"><i class="fa fa-user" style="font-size: 46px;"></i><br>PROFILE</a>
  <a href="#contact" style="font-size: 18px;"><i class="fa fa-th-list" style="font-size: 46px;"></i><br>PROJECT</a>
  <a href="#about" style="font-size: 18px;"><i class="fa fa-envelope" style="font-size: 46px;"></i><br>CONTACT</a>
  <a href="#about" style="font-size: 18px;"><i class="fa fa-sign-out" style="font-size: 46px;"></i><br>LOGOUT</a>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-theme-d5" id="home">
    <img src={{user_pic}} >
    
  </header>
  <div class="col-75"></div>
  <div class="col-25">
    <button class="w3-button w3-round-xxlarge w3-theme" onclick="openpage(1)">Edit Profile</button>
  </div>
  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">{{first_name}} {{ last_name }}</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>{{ bio }}</p>
    
    <div class="w3-padding-32 w3-content" id="skills"></div>
    <h2 class="w3-padding-2 w3-text-light-grey">My Skills</h2>
    <p class="w3-wide">{{user_technology}}</p>
   </div> 
    <!-- Testimonials -->
    
  <!-- End About Section -->
  
  
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="projects">
    <h2 class="w3-text-light-grey">My Projects</h2>
    

    <!-- Grid for photos -->
   
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="row">
             {{#each projects as |prj|}}
            <div class="w3-col m4 d-flex align-items-stretch" id="pcard">
              <div class="card" >
                <h3>{{prj.name}}</h3>
                <p>{{prj.description}}</p>
                <p>{{prj.link}}</p>
                <p class="w3-wide">{{prj.project_technology}}</p>
                
              </div>
            </div>
             {{/each}}
        </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
 
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> {{location}}</p>
      
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> {{email}}</p>
      <p><i class="fa fa-github fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> {{github}}</p>
    </div><br>
    
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-small">
    
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

<script>
  function openpage(id) {
       document.location.replace("/editprofile/"+id);
  }
 
</script>

