

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <i class="fa fa-share-alt w3-xxlarge w3-padding-large"></i>
  <p>WeDevz</p>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d5">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-theme ">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>PROFILE</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-theme">
    <i class="fa fa-th-list w3-xxlarge"></i>
    <p>PROJECT</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-theme">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-theme-d5 w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">PROFILE</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PROJECT</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-theme-d5" id="home">
    <img src={{ url }} >
    
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">{{first_name}} {{ last_name }}</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>{{ bio }}</p>
    
    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
    <hr style="width:200px" class="w3-opacity">
        <p class="w3-wide">{{user_technology}}</p>
    
    <!-- Testimonials -->
    
  <!-- End About Section -->
  
  
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My Projects</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
   
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="row">
             {{#each projects as |prj|}}
            <div class="column d-flex align-items-stretch">
              <div class="card">
                <h3>{{prj.name}}</h3>
                <p>{{prj.description}}</p>
                
                <p class="w3-wide">{{prj.project_technology}}</p>
                
              </div>
            </div>
             {{/each}}
        </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
 
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> {{location}}</p>
      
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: {{email}}</p>
    </div><br>
    
  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-small">
    
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

